<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<!-- InstanceBegin template="/Templates/Template_english.dwt" codeOutsideHTMLIsLocked="false" -->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--info from: https://www.sitepoint.com/media-queries-width-vs-device-width/ -->
    <!-- InstanceBeginEditable name="doctitle" -->
    <title>Slackline Montreal | Products</title>
    <meta name="Description" content="Health through body and mind balance - Slackline products, services and events" />
    <meta name="Keywords"
        content="slackline,slacklines,slakline,slacline,slack,line,montreal,evenements,events,shop,online,community,julien,desforges,videos,highline,highlining,highlines,boutique,achat,ligne,communauté,video,longline,trickline,buy" />
    <link rel="image_src" href="/images/boutique/kit_primitiv.jpg" />
    <!-- InstanceEndEditable -->
    <!-- InstanceBeginEditable name="head" -->
    <style type="text/css">
        #menu a.produits {
            background: #fff;
        }
    </style>
    <!-- InstanceEndEditable -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link href="/styles/style.css" rel="stylesheet" type="text/css" />
    <script src="/scripts/email.js" type="text/javascript"></script>
    <script type="text/javascript">
        function showEm(userName, emServer) {
            userName = stringReverse(userName);
            emServer = stringReverse(emServer);
            var emLink = userName + "@" + emServer;
            document.write("<a style='text-decoration:none;' href='mailto:" + emLink + "'>");
            document.write(emLink);
            document.write("</a>");
        }
    </script>
</head>

<body>
    <a name="top" id="top"></a>

    <div id="logo"><a href="/en"><img src="/images/slackline_montreal_logo.png" alt="slackline montreal logo" /></a>
    </div>
    <!-- InstanceBeginEditable name="banner" -->
    <div id="banner"><img src="/images/banner.jpg" id="topbanner" alt="slackline montreal banner" /></div>
    <!-- InstanceEndEditable -->
    <div id="language">
        <!-- InstanceBeginEditable name="language" --><a href="/fr/produits">français</a><!-- InstanceEndEditable -->
    </div>
    <div id="wrapper">




        <div id="reseaux">
            <a rel="noopener" href="https://www.facebook.com/slacklinemtl/" target="_blank"><img
                    src="/images/icon_facebook2.png" width="45" height="45" alt="facebook" /></a>&nbsp;
            <a rel="noopener" href="https://www.instagram.com/slacklinemtl/" target="_blank"><img
                    src="/images/icon_instagram.png" width="45" height="45" alt="instagram" /></a>&nbsp;
            <a rel="noopener" href="https://www.youtube.com/user/SlacklineMontreal" target="_blank"><img
                    src="/images/icon_youtube2.png" width="45" height="45" alt="youtube" /></a>&nbsp;
            <a rel="noopener" href="https://www.flickr.com/photos/slacklinemontreal/sets/" target="_blank"><img
                    src="/images/icon_flickr2.png" width="45" height="45" alt="flickr" /></a>&nbsp;
        </div>

        <div id="menu">
            <ul>
                <li><a class="produits" href="/en/products">Products</a></li>
                <li><a class="services" href="/en/services">Services</a></li>
                <li><a class="evenements" href="/en/events">Events</a></li>
            </ul>
        </div>

        <div id="content">
            <!-- InstanceBeginEditable name="content" -->
            <div class="center">
                <h2 style="color:#3C9; clear:both; font-size:28px">
                    OUR NEW SLACKLINE KITS JUST ARRIVED!
                </h2>
                <hr>
            </div>

            <div id="produits">

                <!-- <div class="title">
                    <h2 style="color:#3C9">OR BUY YOUR SLACKLINE TODAY! <br />
                        at <a rel="noopener"
                            href="https://www.google.com/maps/place/Paragym/@45.539899,-73.5834146,15z/data=!4m5!3m4!1s0x0:0x7d0efad730c95069!8m2!3d45.539899!4d-73.5834146"
                            target="_blank">Paragym (5465 Bordeaux, Mtl)</a></h2>
                </div> -->

                <br>

                <div class="title">
                    <h1>1&quot; (25mm) Slackline Kits</h1>
                </div>

                {% include en/kit_sm_prim_25m.html %}
                {% include en/kit_sm_tub_30m.html %}

                
                <div class="title">
                    <h1>2&quot; (50mm) Slackline Kits</h1>
                </div>

                {% include en/kit_si_trick_15m.html %}
                {% include en/kit_si_aggro_30m.html %}
                {% include en/kit_si_bossline_25m.html %}


                <!--<center><h2 style="color:#3C9; clear:both">GET YOUR SLACKLINE TODAY AT<br />
<a rel="noopener" href="https://www.paragym.com" target="_blank">Paragym (5465 Bordeaux, Mtl)</a></h2></center> -->


                <div class="title">
                    <h1>Self-Suporting Kits</h1>
                    <!--<p>Our A-frames are made in Quebec. They can be used at three different heights: 12&quot;, 18&quot; or 24&quot;.</p>
        <p><a href="/en/contact">Contact us</a> directly to order.</p>
        <p>* Shipping not included for Self-Supporting kits</p>
  		<h2 class="video" style="text-align:left;margin-bottom:20px;"><a rel="noopener" href="https://www.youtube.com/watch?v=A7qjKR5lRu4" target="_blank">Watch the instruction video</a></h2> -->
                </div>

                <!--<div>
    	<a href="/images/boutique/slackstand.jpg"><img src="/images/boutique/slackstand.jpg" alt="Slackstand" /></a>
        <h3>SI Slackstand (10ft)<br />
          with basic 2 inch slackline
          <h2 style="color:#F00; text-decoration:line-through; font-size:14px">$360<strong>+tx.</strong></h2>
        </h3>
        <h2>$300<strong>+tx.</strong></h2>
        <h2 class="video"><a rel="noopener" href="https://www.youtube.com/watch?v=sA6wU2Ifvy0" target="_blank">Watch Video</a></h2>  
    </div>   -->




                <!--<div>
    	<a href="/images/boutique/kit_pieux_slackline.jpg"><img src="/images/boutique/kit_pieux_slackline.jpg" alt="Ensemble avec pieux et chevalets" /></a>
        <h3>Stakes Kit</h3>
        <h2>$390<strong>+tx.</strong></h2>
    </div> -->

                <div>
                    <a href="/images/boutique/kit_ecole.jpg"><img src="/images/boutique/kit_ecole.jpg"
                            alt="Ensemble pour gymnase" width="689" height="406" /></a>
                    <h3>Gymnasium Kit</h3>
                    <h2>$495<strong>+tx.</strong></h2>
                    <h2 style="text-align:center"><a rel="noopener"
                            href="https://www.google.com/maps/place/Slackline+Montréal+|+Gym+&amp;+Cours+de+Slackline+|+Ensembles+1&quot;+2&quot;+Nylon+Polyester+|+Méditation+Yoga/@45.539607,-73.584023,15z/data=!4m5!3m4!1s0x0:0x115d28282ed6f681!8m2!3d45.539607!4d-73.584023"
                            target="_blank">Contact us</a><br />
                        directly to order.</h2>
                    <h2 class="video"><a rel="noopener" href="https://youtu.be/vS5cIZV9f4Q" target="_blank">Watch
                            Video</a></h2>
                </div>


                <!--<div class="title">
		<h1>Longline and Highline</h1>
		<p><a href="/en/contact">Contact us</a> directly to order.</p>
	</div>
    
    <div>
    	<a href="/images/boutique/weblock.jpg"><img src="/images/boutique/weblock.jpg" alt="Weblock" /></a>
    	<h3>BC Weblock 4.0</h3>
        <h2>$175<strong>+tx.</strong></h2>
    </div>
    
    <div>
    	<a href="/images/boutique/highlinegrip.jpg"><img src="/images/boutique/highlinegrip.jpg" alt="HighlineGrip" /></a>
    	<h3>HighlineGrip G2</h3>
        <h2 style="color:#F00; font-size:14px">SOLD OUT</h2>
        <h2>$320<strong>+tx.</strong></h2>
    </div> 
    
    <div>
    	<a href="/images/boutique/hangover.jpg"><img src="/images/boutique/hangover.jpg" alt="9mm static rope" /></a>
    	<h3>Slacktivity HangOver 2.0</h3>
        <h2>$75<strong>+tx.</strong></h2>
    </div>-->


                <!--<div>
    	<a href="/images/boutique/aero.jpg"><img src="/images/boutique/aero.jpg" alt="Aero Webbing" /></a>
    	<h3>AERO webbing</h3>
        <h2>$1,20/ft<strong>+tx.</strong></h2>
    </div>
    
    <div>
    	<a href="/images/boutique/mantra.jpg"><img src="/images/boutique/mantra.jpg" alt="Mantra Webbing" /></a>
    	<h3>MANTRA Webbing</h3>
        <h2>$1,20/ft<strong>+tx.</strong></h2>
    </div>
    
    <div>
    	<a href="/images/boutique/type18.jpg"><img src="/images/boutique/type18.jpg" alt="Type 18 Webbing" /></a>
    	<h3>TYPE 18 Webbing</h3>
        <h2>$1,00/ft<strong>+tx.</strong></h2>
    </div> -->
    </div>

<!-- InstanceEndEditable -->
    {% include en/footer.html %}
