<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!--info from: https://www.sitepoint.com/media-queries-width-vs-device-width/ -->

  <title>Slackline Montreal</title>
  <meta name="Description"
    content="La santé par l'équilibre du corps et de l'esprit - Produits, services et événements de slackline" />
  <meta name="Keywords"
    content="slackline,slacklines,slakline,slacline,slack,line,montreal,evenements,events,shop,online,community,julien,desforges,videos,highline,highlining,highlines,boutique,achat,ligne,communauté,video,longline,trickline,buy" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="image_src" href="images/SLMTL_thumb.jpg" />
  <link href="styles/style.css" rel="stylesheet" type="text/css" />
  <script src="scripts/email.js" type="text/javascript"></script>
  <script type="text/javascript">
    function showEm(userName, emServer) {
      userName = stringReverse(userName);
      emServer = stringReverse(emServer);
      var emLink = userName + "@" + emServer;
      document.write("<a style='text-decoration:none;' href='mailto:" + emLink + "'>");
      document.write(emLink);
      document.write("</a>");
    }
    function MM_swapImgRestore() { //v3.0
      var i, x, a = document.MM_sr; for (i = 0; a && i < a.length && (x = a[i]) && x.oSrc; i++) x.src = x.oSrc;
    }
    function MM_preloadImages() { //v3.0
      var d = document; if (d.images) {
        if (!d.MM_p) d.MM_p = new Array();
        var i, j = d.MM_p.length, a = MM_preloadImages.arguments; for (i = 0; i < a.length; i++)
          if (a[i].indexOf("#") != 0) { d.MM_p[j] = new Image; d.MM_p[j++].src = a[i]; }
      }
    }

    function MM_findObj(n, d) { //v4.01
      var p, i, x; if (!d) d = document; if ((p = n.indexOf("?")) > 0 && parent.frames.length) {
        d = parent.frames[n.substring(p + 1)].document; n = n.substring(0, p);
      }
      if (!(x = d[n]) && d.all) x = d.all[n]; for (i = 0; !x && i < d.forms.length; i++) x = d.forms[i][n];
      for (i = 0; !x && d.layers && i < d.layers.length; i++) x = MM_findObj(n, d.layers[i].document);
      if (!x && d.getElementById) x = d.getElementById(n); return x;
    }

    function MM_swapImage() { //v3.0
      var i, j = 0, x, a = MM_swapImage.arguments; document.MM_sr = new Array; for (i = 0; i < (a.length - 2); i += 3)
        if ((x = MM_findObj(a[i])) != null) { document.MM_sr[j++] = x; if (!x.oSrc) x.oSrc = x.src; x.src = a[i + 2]; }
    }
  </script>
</head>

<body onload="MM_preloadImages('images/btn_soumission_on.jpg')">
  <a name="top" id="top"></a>

  <div id="logo"><a href="/"><img src="images/slackline_montreal_logo.png" alt="slackline montreal logo" /></a></div>

  <div id="banner"><img src="images/banner.jpg" alt="slackline montreal banner" /></div>
  <div id="language">
    <a href="/en">english</a>
  </div>
  <div id="wrapper">
    <div id="reseaux">
      <a rel="noopener" href="https://www.facebook.com/groups/slacklinemontreal/" target="_blank"><img
          src="/images/icon_facebook2.png" width="45" height="45" alt="facebook" /></a>&nbsp;
      <a rel="noopener" href="https://www.instagram.com/slacklinemtl/" target="_blank"><img
          src="/images/icon_instagram.png" width="45" height="45" alt="instagram" /></a>&nbsp;
      <a rel="noopener" href="https://www.youtube.com/user/SlacklineMontreal" target="_blank"><img
          src="/images/icon_youtube2.png" width="45" height="45" alt="youtube" /></a>&nbsp;
      <a rel="noopener" href="https://www.flickr.com/photos/slacklinemontreal/sets/" target="_blank"><img
          src="/images/icon_flickr2.png" width="45" height="45" alt="flickr" /></a>&nbsp;
    </div>





    <div id="menu">
      <ul>
        <li><a href="/fr/produits">Produits</a></li>
        <li><a href="/fr/services">Services</a></li>
        <li><a href="/fr/evenements">Événements</a></li>
      </ul>
    </div>

    <div id="content">
        
      {% include fr/newsletter.html %}

      <!-- <center>
        <h2 style="color:#3C9; clear:both">OU ACHETEZ VOTRE SLACKLINE AUJOURD'HUI!<br />
          chez <a rel="noopener"
            href="https://www.google.com/maps/place/Paragym/@45.539899,-73.5834146,15z/data=!4m5!3m4!1s0x0:0x7d0efad730c95069!8m2!3d45.539899!4d-73.5834146"
            target="_blank">Paragym (5465 Bordeaux, Mtl)</a></h2>
      </center> -->
      
      <br>
      <br>


      {% include shopi1.html %}
      {% include shopi2.html %}

      
      <br>
      <br>
      <hr>

      <div id="produits">

        {% include fr/kit_sm_tub_30m.html %}
        {% include fr/kit_sm_prim_25m.html %}
        {% include fr/kit_si_trick_15m.html %}

        <p class="clear">&nbsp;</p>
      </div>

      <div class="title">
        <h2 style="color:#3C9; text-align:center;">Slackline Mtl se déplace partout au Québec <br />
          pour partager l'amour de la slackline, depuis 2009 !</h2>
      </div>

      <div class="photo">
        <a href="fr/services" target="_blank"><img name="Zone" src="images/service_zones.jpg"
            alt="Zones slackline" /></a>
      </div>

      <div class="texte">
        <p class="description">Saviez-vous que Slackline Montréal offre des services adaptés à vos besoins
          événementiels?</p>
        <p>Zone d'essais libres de slackline, ateliers scolaires, démonstrations, spectacles, conférences, cours
          individuels ou ateliers de groupe. Pour un service de qualité, fiez-vous à notre expertise incomparable!</p>
        <p><strong>Faites-nous parvenir une demande de soumission dès aujourd'hui grâce à notre <a rel="noopener"
              href="https://goo.gl/forms/Juw6d7Fy4U5Ryg9h2" target="_blank">formulaire en ligne</a> simple et
            rapide!</strong></p>
        <p><a rel="noopener" href="https://goo.gl/forms/Juw6d7Fy4U5Ryg9h2" target="_blank"
            onmouseover="MM_swapImage('soumission','','images/btn_soumission_on.jpg',1)"
            onmouseout="MM_swapImgRestore()"><img src="images/btn_soumission_off.jpg" alt="demander une soumission"
              width="250" height="40" id="soumission" /></a></p>
      </div>
      <p class="clear">&nbsp;</p>

      {% include fr/footer.html %}
