<div>
  <a href="/images/boutique/kit_poly_25m.jpg"><img src="/images/boutique/kit_poly_25m.jpg"
      alt="25m flat polyester slackline kit" /></a>

  <h3>1&quot; Flat Polyester Kit - 25m</h3>
  with ratchet system
  <h2>$145<strong>+tx.</strong></h2>

  <center>
    <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="XEBBLGJ3UNYTG">
      <table>
        <tr>
          <td><input type="hidden" name="on0" value="Color"><select name="os0">
              <option value="Dark Blue">Dark Blue </option>
            </select> </td>
        </tr>
      </table>
      <input type="image" src="http://slacklinemontreal.com/images/btn2_buy.jpg" border="0" name="submit"
        alt="Buy"><br />
      <small>
        *Shipping to Canada only</small>
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  </center>

  <ul style="text-align:left">
    <li>80' (25m) of 1&quot; polyester flat webbing</li>
    <li>1 Ratchet with short sling</li>
    <li> 2 steel carabiners with twist lock (24 kN)</li>
    <li>1 ratchet with spacers for 1&quot; webbing</li>
    <li>2 anchors (6.5')</li>
    <li>Slackline Montreal Eco Bag</li>
  </ul>
  <h2 class="video"><a rel="noopener" href="https://www.youtube.com/watch?v=pTl9ud6mKsI" target="_blank">installation
      video</a></h2>
</div>