<div>
  <a href="/images/boutique/SI_bossline.jpg"><img src="/images/boutique/SI_bossline.jpg"
      alt="Slackline Industries Bossline" /></a>
  <h3>2" Bossline-25m<br>
    <span class="subtitle">from Slackline Industries</span>
  </h3>
  <h2>$349<strong>+tx.</strong></h2>
  <!-- <center>
  <p class="red">SOLD OUT !</p>
  </center> -->
  <center>
    <div id='product-component-boss' style="height:62px"></div>
  </center>

  <h2 class="video"><a rel="noopener" href="https://www.youtube.com/watch?v=6080rDe0IN0&amp;t=53s" target="_blank">Watch
      Video</a></h2>
</div>