<div>
  <a href="/images/boutique/SI_agroline.jpg"><img src="/images/boutique/SI_agroline.jpg"
      alt="Slackline Industries Aggroline" /></a>
  <h3>2" Aggroline-30m<br>
    <span class="subtitle">from Slackline Industries</span>
  </h3>
  <h2>$199<strong>+tx.</strong></h2>
  <!-- <center> -->
  <!-- <p class="red">SOLD OUT !</p> -->
  <!-- </center> -->
  <center>
    <div id='product-component-aggro' style="height:62px"></div>
  </center>
  <!-- <p class="red"> Sold Out</p>  -->
  <h2 class="video"><a rel="noopener" href="https://www.youtube.com/watch?v=Wkl2NnnYQ3A" target="_blank">Watch Video</a>
  </h2>
</div>