<div>

  <a href="/images/boutique/kit_primitiv.jpg"><img src="/images/boutique/kit_primitiv.jpg"
      alt="Primitiv slackline kit" /></a>
  <h3>1&quot; Tubular Nylon Kit - 30m</h3>
  with 6-carabiner system
  <h2>$159<strong>+tx.</strong></h2>

  <center>

    <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="E9T369C877U2A">
      <input type="image" src="http://slacklinemtl.com/images/btn_buy.jpg" border="0" name="submit" alt="Buy"><br />
      <small>*Shipping to Canada only</small>
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      <table>
        <!-- <tr>
          <td><input type="hidden" name="on0" value="Length"><select name="os0">
              <option value="Sangle de 20m">Webbing length 70ft $135</option>
              <option value="Sangle de 30m">Webbing length 100ft $135</option>
              <option value="Sangle de 45m">Webbing length 150ft $150</option>
            </select> </td>
        </tr> -->
        <tr>
          <td>
            <input type="hidden" name="on1" value="Color"><select name="os1">
              <option value="Orange">Orange</option>
              <!-- <option value="Green">Dark Green</option>
              <option value="Red">Red </option>
              <option value="Blue">Blue </option>
              <option value="Lime (fluo)">Bright yellow</option>
              <option value="Purple">Purple</option>
              <option value="Silver">Silver </option> -->
            </select>
            <!-- color may vary depending on<br />
            availability -->
            <!-- <p><a href="/images/couleurs.jpg" target="_blank">click here to see colors</a></p> -->
            <!-- (red, blue or green) -->
          </td>
        </tr>
      </table>

    </form>


    <!-- <p class="red">SOLD OUT !</p> -->
    {%- if page.url == "/en/products/" %}
    <ul style="text-align:left">
      <li><strong>30 meters of nylon tubular webbing (25mm wide)</strong></li>
      <li><strong>6 oval aluminium carabiners (22 kN)</strong></li>
      <li><strong>1 line-lock</strong></li>
      <li><strong>2 anchors (2 meters)</strong></li>
      <li><strong>2 tree protectors</strong></li>
    </ul>
    {%- endif %}
  </center>
  <h2 class="video"><a rel="noopener"
      href="https://www.youtube.com/watch?v=dKxvLbTRaJI&list=PLewfhLQ4zUOHqbI0tTMs1In39GVmGpO_b&index=1"
      target="_blank">installation video</a></h2>
</div>