<div>
  <a href="/images/boutique/SI_bossline.jpg"><img src="/images/boutique/SI_bossline.jpg"
      alt="Slackline Industries Bossline" /></a>
  <h3>SI Bossline - 25m</h3>
  <h2>$349<strong>+tx.</strong></h2>
  <!-- <center>
  <p class="red">SOLD OUT !</p>
  </center> -->
  <center>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="Z6MWKJYU7EPL8">
      <input type="image" src="http://slacklinemtl.com/images/btn_buy.jpg" border="0" name="submit" alt="Buy"><br />
      <small>*Shipping to Canada only</small>
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  </center>


  <h2 class="video"><a rel="noopener" href="https://www.youtube.com/watch?v=6080rDe0IN0&amp;t=53s" target="_blank">Watch
      Video</a></h2>
</div>