<div>
  <a href="/images/boutique/kit_primitiv.jpg"><img src="/images/boutique/kit_prim_25m.jpg"
          alt="Ensemble slackline de base" /></a>
  <h3>1" Polyester Kit - 25m</h3>
  with 2-carabiner system
  <h2>129$<strong>+tx.</strong></h2>

  <center>
  <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="3CF4F4FCUSG4Q">
    <input type="image" src="http://slacklinemtl.com/images/btn_buy.jpg" border="0" name="submit" alt="Buy"><br />
    <small>*Shipping to Canada only</small>
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    <table>
    <tr><td><input type="hidden" name="on1" value="Color"><select name="os1">
    <option value="Blue">Blue</option>
    </select> </td></tr>
    </table>

  </form>

      <!-- <p class="red">SOLD OUT!</p> -->

      <h2 class="video">
        <a rel="noopener" href="https://www.youtube.com/watch?v=4bDSzFPHvxI" target="_blank">
              installation video
        </a>
      </h2>
  </center>

  <!--<p class="red">SOLD OUT !</p>  -->
  {%- if page.url == "/en/products/" %}
    <ul style="text-align:left">
      <li><strong>25 metres of polyester webbing (25mm wide)</strong></li>
      <li><strong>2 oval aluminium carabiners (22kN)</strong></li>
      <li><strong>1 line lock</strong></li>
      <li><strong>2 anchors (2 meters)</strong></li>
      <li><strong>2 tree protectors</strong></li>
    </ul>
  {%- endif %}

</div>