<div>

  <a href="/images/boutique/_high-res/kit_tub_30m.jpg"><img src="/images/boutique/kit_tub_30m.jpg"
      alt="Primitiv slackline kit" /></a>
  <h3>1" Pro-30m<br>
    <span class="subtitle">from Balance Community</span>
  </h3>
  <p class="center"><strong>Nylon Slackline (tubular)</strong><br>
    with 6-carabiner tensioning system
  </p>
  <h2>$159<strong>+tx.</strong></h2>

  <center>
    <div id='product-component-pro30' style="height:62px"></div>

    <!-- <p class="red">SOLD OUT !</p> -->
    <h2 class="video"><a rel="noopener"
        href="https://www.youtube.com/watch?v=dKxvLbTRaJI&list=PLewfhLQ4zUOHqbI0tTMs1In39GVmGpO_b&index=1"
        target="_blank">installation video</a></h2>
    {%- if page.url == "/en/products/" %}
    <ul style="text-align:left">
      <li><strong>30 meters of nylon tubular webbing (25mm wide) with 1 sewn loop</strong></li>
      <li><strong>6 oval aluminium carabiners (21 kN)</strong></li>
      <li><strong>1 aluminium line-lock</strong></li>
      <li><strong>2 anchors (2 meters)</strong></li>
      <li><strong>2 tree protectors</strong></li>
    </ul>
    {%- endif %}
  </center>
</div>