<p class="arrow"><a href="#top"><img style="margin-top:15px;" src="/images/arrow_up.png" width="30" height="30" alt="haut de la page" /></a> </p>
    </div>
    <div id="footer">
      <div>
    	<h1>Informations</h1>
        <ul>
        	<li><img src="/images/icon_question.png" width="20" height="20" alt="?" /> <a href="/fr/instructions">Instructions</a></li>
            <li><img src="/images/icon_question.png" width="20" height="20" alt="?" /> <a href="/fr/faq">Foire aux questions</a></li>
            <li><img src="/images/icon_question.png" width="20" height="20" alt="?" /> <a href="/fr/historique">Historique</a></li>
        </ul>
      </div>
      
      <div>
    	<h1>Contactez-nous</h1>
        <ul>
        	<li><img src="/images/icon_mail.png" width="20" height="20" alt="courriel" /> <a href="#"><script type="text/javascript">showEm("ofni","moc.ltmenilkcals");</script></a></li>
        	<!-- <li><img src="/images/icon_phone.png" width="20" height="20" alt="téléphone" /> 514.564.7295</li> -->
        	<!-- <li style="line-height:10px;"><img src="/images/icon_map.png" width="20" height="20" alt="adresse" /> <a rel="noopener" href="https://www.google.com/maps/place/Slackline+Montr%C3%A9al+%7C+Gym+%26+Cours+de+Slackline+%7C+Ensembles+1%22+2%22+Nylon+Polyester+%7C+M%C3%A9ditation+Yoga/@45.539607,-73.584023,15z/data=!4m5!3m4!1s0x0:0x115d28282ed6f681!8m2!3d45.539607!4d-73.584023" target="_blank">5450-B de Bordeaux, H2H 2A8</a></li> -->
        </ul>
      </div>
      
      <!-- <div> 
        <h1 style="color:#FFF">Achats en magasin</h1>
        <ul>
          <li style="color:#FFF"><strong>Nos produits sont désormais disponible chez <a rel="noopener" href="https://www.paragym.com" target="_blank">Paragym (5465 Bordeaux)</a> pour tout achat en personne. </strong><br />
            <br />
            Heures d'ouverture disponibles sur <a rel="noopener" href="https://www.paragym.com" target="_blank">Paragym.com</a>
          </li>
          <li></li>
        </ul>
      </div> -->
      
    </div>
  <p class="clear">&nbsp;</p>
</div>
<script type="text/javascript">
  var images = new Array('/images/banner.jpg', '/images/banner1.jpg', '/images/banner2.jpg', '/images/banner3.jpg', '/images/banner4.jpg', '/images/banner5.jpg', '/images/banner6.jpg', '/images/banner7.jpg', '/images/banner8.jpg', '/images/banner9.jpg', '/images/banner10.jpg', '/images/banner11.jpg', '/images/banner12.jpg', '/images/banner13.jpg', '/images/banner14.jpg');
  var l = images.length;
  var random_no = Math.floor(l*Math.random());
  document.getElementById("topbanner").src = images[random_no];
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-12707426-2', 'auto');
  ga('send', 'pageview');

</script>
</body>
<!-- InstanceEnd --></html>
