<div>
  <a href="/images/boutique/SI_agroline.jpg"><img src="/images/boutique/SI_agroline.jpg"
      alt="Ensemble Aggroline de Slackline Industries" /></a>
  <h3>Aggroline-30m 2"<br>
    <span class="subtitle">de Slackline Industries</span>
  </h3>
  <h2>199$<strong>+tx.</strong></h2>
  <!-- <center> -->
    <!-- <p class="red">SOLD OUT !</p> -->
  <!-- </center> -->
  <center>
    <div id='product-component-aggro' style="height:62px"></div>
  </center>

  <!--<p class="red">temporairement indisponible</p> -->

  <h2 class="video"><a rel="noopener" href="https://www.youtube.com/watch?v=Wkl2NnnYQ3A" target="_blank">Vidéo
      d'installation</a></h2>
</div>