<div>
  <a href="/images/boutique/_high-res/kit_prim_25m.jpg"><img src="/images/boutique/kit_prim_25m.jpg"
      alt="Ensemble slackline de base" /></a>
  <h3>Prim-25m 1"<br>
    <span class="subtitle">de Balance Community</span>
  </h3>
  
  <p class="center"><strong>Slackline en Polyester</strong><br>
    avec système de tension à 2 mousquetons
  </p>
  <h2>129$<strong>+tx.</strong></h2>
  <center>
    <div id='product-component-prim25' style="height:62px"></div>

    <!-- <p class="red">SOLD OUT!</p> -->

    <h2 class="video"><a rel="noopener" href="https://www.youtube.com/watch?v=4bDSzFPHvxI" target="_blank">Vidéo
        d'installation</a></h2>
  </center>

  <!--<p class="red">SOLD OUT !</p>  -->
  {%- if page.url == "/fr/produits/" %}
  <ul style="text-align:left">
    <li><strong>25m de sangle en polyester 25mm (1”) avec 1 boucle cousue</strong></li>
    <li><strong>2 mousquetons en aluminium (21kN)</strong></li>
    <li><strong>1 anneau en aluminium (line lock)</strong></li>
    <li><strong>1 ancrage ajustable de 2m</strong></li>
    <li><strong>2 protège-arbres</strong></li>
  </ul>
  {%- endif %}

</div>