<div>
  <a href="/images/boutique/SI_trickline.jpg"><img src="/images/boutique/SI_trickline.jpg"
      alt="Ensemble Trickline de Slackline Industries" /></a>
  <h3>Trickline-15m 2"<br>
    <span class="subtitle">de Slackline Industries</span>
  </h3>
  <h2>109$<strong>+tx.</strong></h2>

  <center>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick" />
      <input type="hidden" name="hosted_button_id" value="JJ2Y9M3CZPN5Q" />
      <input type="image" src="http://slacklinemtl.com/images/btn_acheter.jpg" name="submit" alt="Acheter" /><br />
      <small>*Livraison au Canada seulement</small>
      <img alt="" border="0" src="https://www.paypalobjects.com/fr_CA/i/scr/pixel.gif" width="1" height="1" />
    </form>
  </center>

  <!-- <p class="red">SOLD OUT!</p> -->

  <h2 class="video"><a rel="noopener" href="https://www.youtube.com/watch?v=vPxwL21F4Rk" target="_blank">Vidéo
      d'installation</a></h2>
</div>