<div>
    <a href="/images/boutique/kit_primitiv.jpg"><img src="/images/boutique/kit_primitiv.jpg"
            alt="Ensemble slackline de base" /></a>
    <h3>Slackline tubulaire nylon - 30m</h3>
    avec système de tension à 6 mousquetons
    <h2>159$<strong>+tx.</strong></h2>

    <center>
    <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="E9T369C877U2A">

      <input type="image" src="http://slacklinemtl.com/images/btn_acheter.jpg" border="0" name="submit" alt="Acheter"><br />
      <small>* Livraison au Canada seulement</small>
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      <table>
      <tr><td><input type="hidden" name="on0" value="Couleur"><select name="os0">
      <option value="Orange">Orange</option>
      <!-- <option value="Noir">Noir </option> -->
      </select> </td></tr>
      </table>

    </form>

        <!-- <p class="red">SOLD OUT!</p> -->

        <h2 class="video"><a rel="noopener" href="https://www.youtube.com/watch?v=pTl9ud6mKsI" target="_blank">Vidéo
                d'installation</a></h2>
    </center>

    <!--<p class="red">SOLD OUT !</p>  -->
    {%- if page.url == "/fr/produits/" %}
        <ul style="text-align:left">
            <li><strong>30 mètres de sangle tubulaire en nylon (25mm)</strong></li>
            <li><strong>6 mousquetons en aluminium (22kN)</strong></li>
            <li><strong>1 "line lock"</strong></li>
            <li><strong>2 ancrages de 2m</strong></li>
            <li><strong>2 protège-arbres</strong></li>
        </ul>
    {%- endif %}

</div>