<div class="center">
  <h2 style="color:#3C9; clear:both;">
    NOS NOUVEAUX KITS DE SLACKLINE SONT EN ROUTES!
  </h2>

  <div class="emailoctopus-form-wrapper emailoctopus-form-default null"
    style="font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif; color: rgb(26, 26, 26);">
    <h2 class="emailoctopus-heading">
      Soyez les premiers au courant quand ça arrive👇
    </h2>
    <p class="emailoctopus-success-message">
    </p>
    <p class="emailoctopus-error-message">
    </p>
    <form action="https://emailoctopus.com/lists/14ad0072-a5fc-11eb-a3d0-06b4694bee2a/members/embedded/1.3s/add"
      method="post" data-message-success="Merci! On vous tiens au courant."
      data-message-missing-email-address="Votre addresse courriel est requise."
      data-message-invalid-email-address="Votre addresse courriel semble incorrecte, SVP essayez de nouveau."
      data-message-bot-submission-error="Beep boop, un robot?."
      data-message-consent-required="Please check the checkbox to indicate your consent."
      data-message-invalid-parameters-error="Veuillez remplir tout les champs."
      data-message-unknown-error="Une erreur innatendue est survenue, veuillez réessayer plus tard."
      class="emailoctopus-form" data-sitekey="6LdYsmsUAAAAAPXVTt-ovRsPIJ_IVhvYBBhGvRV6">
      <div class="emailoctopus-form-row">
        <label for="field_0">
          Votre adresse courriel
        </label>
        <input id="field_0" name="field_0" type="email" placeholder="moi@exemple.com" required="required">
      </div>
      <div aria-hidden="true" class="emailoctopus-form-row-hp">
        <input type="text" name="hpc4b27b6e-eb38-11e9-be00-06b4694bee2a" tabindex="-1" autocomplete="nope">
      </div>
      <div class="emailoctopus-form-row-subscribe">
        <input type="hidden" name="successRedirectUrl">
        <button type="submit"
          style="background-color: rgb(224, 224, 224); color: rgb(0, 0, 0); font-family: inherit;margin: auto;">
          Soumettre
        </button>
      </div>
    </form>
  </div>
  <script src="https://emailoctopus.com/bundles/emailoctopuslist/js/1.6/form-recaptcha.js">
  </script>
  <script src="https://emailoctopus.com/bundles/emailoctopuslist/js/1.6/form-embed.js">
  </script>
  <hr>
</div>